/* flex-wrap:  */
/* align-content: sử dụng kèm với flex-wrap, dùng để căn nhiều hàng theo cross axis */
/* cần có 2 hàng trở lên sử dụng với flex-wrap:wrap */
.container {
  height: 400px;
  display: flex;
  background: cyan;
  /* mặc định flex-wrap:nowrap, tất cả sẽ nằm trên cùng 1 hàng */
  /* mỗi phần tử box sẽ không chiếm được 30% */
  flex-wrap: nowrap;
  /* chiều rộng của các phần tử con vượt quá chiều rộng của thẻ cha nó (container) thì sẽ xuống dòng */
  flex-wrap: wrap;
  /* cũng giống thuộc tính trên nhưng đảo ngược (lúc đó cross start ở phía dưới, cross end ở phía trên) */
  /* flex-wrap: wrap-reverse; */
  /* thuộc tính mặc định của align content:stretch: kéo dãn các phần tử */
  align-content: stretch;
  /* item sẽ dồn lên phía cross start của thẻ cha nó */
  /* = align-content:start */
  align-content: flex-start;
  /* item sẽ dồn xuống phía cross end của thẻ cha nó */
  /* = align-content:end */
  align-content: flex-end;
  /* tất cả các phần tử dồn vào giữa, để lại khoảng trắng ở phía trên và dưới bằng nhau */
  align-content: center;
  /* giữa 2 thằng có khoảng trắng gấp đôi bên lề theo trục cross */
  align-content: space-around;
  /* hàng trên cùng và dưới cùng sát lề theo trục cross và khoảng trống giữa các hàng = nhau */
}

.box {
  width: 30%;
  background-color: blue;
  border: 1px solid black;
}
