p:first-child {
  color: red;
}
p:first-of-type {
  /* quan tâm đến loại thẻ */
  /* thẻ p là thẻ con đầu tiên */
  color: blue;
}

h2:last-of-type {
  color: pink;
}

p:nth-of-type(3) {
  color: blueviolet;
}
