* {
  /* universal selector */
  /* yếu nhất: ưu tiên thứ 6 */
  color: red !important;
}

h1 {
  /* element selector */
  /* ưu tiên thứ 5 */
  color: blue;
}

/* class - psedo class */
/* ưu tiên thứ 4 */
.demo {
  color: green;
}

/* id */
#theh1 {
  color: yellow;
  /* ưu tiên thứ 3 */
}

/* inline style: ưu tiên thứ 2 */
/* !important: ưu tiên đầu tiên */
