/* Position: Absolute: Phần tử thực sự được đưa ra khỏi luồng ban đầu */
/* 1. Nếu không có tổ tiên position: relative thì phần tử được định vị theo top left corner của trang web */
/* 2. Phần tử được định vị theo tổ tiên gần nhất đặt position là relative */

.box {
  width: 100px;
  height: 100px;
  color: #fff;
  /* căn giữa text ở các khối */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background: cyan;
  width: 400px;
  margin: 40px;
  position: relative;
}

.header {
  background: yellow;
  position: relative;
}

.box1 {
  background: red;
}

.box2 {
  /* Phần tử được định vị theo tổ tiên gần nhất đặt position là relative: class content */
  position: absolute;
  background: blue;
  /* cách cạnh trái class content: 50px */
  left: 50px;
  top: 0;
  /* nếu class content không có thuộc tính position: relative sẽ lấy theo class header  */
  /* nếu cả class content và class header đều có position: relative thì sẽ lấy tổ tiên gần nhất tức là content */
}

.box3 {
  background: green;
}

h1 {
  background: purple;
}
