div {
  width: 100px;
  height: 100px;
  color: yellow;
  background-color: red;
  padding: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
  /* trên dưới, trái phải: 2 đối số */
  padding: 20px 30px;
  /* trên trái, phải dưới : 3 đối số */
  padding: 20px 30px 40px;
  /* trên phải dưới trái : 4 đối số: đi theo chiều kim đồng hồ  */
  padding: 20px 30px 40px 50px;
  /* (nếu có nhiều thuộc tính giống nhau thì thuộc tính đứng sau sẽ đè lên) */
  /* viền */
  border: 10px solid blue;
  /* border-top: 10px solid blue;
  border-bottom: 10px dashed blue;
  border-left: 10px dotted blue;
  border-right: 10px double blue; */
  /* giống padding */
  /* border-width: 10px 20px 30px 40px;
  border-style: solid dotted dashed;
  border-color: pink; */
  /* border-radius: 30px; */
  /* góc trên bên trái */
  /* border-top-left-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 50px; */
  border-radius: 30px 50px 80px 90px;
}
